.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.chat-header {
    padding: 10px;
    background-color: #075E54;
    color: #fff;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
    color: #000; /* Change text color for sent messages */
}

.received {
    align-self: flex-start;
    background-color: #fff;
    color: #000; /* Change text color for received messages */
}

.received::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -9px;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
}

.sent::after {
    content: '';
    position: absolute;
    top: 3px;
    right: -9px;
    border-top: 10px solid transparent;
    border-left: 10px solid #DCF8C6; /* Use the same background color as sent messages */
    border-bottom: 10px solid transparent;
}


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    position: relative;
}

.message-actions {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #888;
}

.delete-button:hover {
    color: #555;
}

.message-text {
    margin: 0;
}

.message-timestamp {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #777;
    bottom: 3px;
    right: 3px;
}



.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ECE5DD;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background-color: #128C7E;
    color: #fff;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #075E54;
}
